@charset "UTF-8";
/*-----------------------------------------------шрифты--------------------------------------------------------*/
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/ralewaybold.woff2") format("woff2");
  src: url("../fonts/ralewaybold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/ralewayextrabold.woff2") format("woff2");
  src: url("../fonts/ralewayextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/ralewayextralight.woff2") format("woff2");
  src: url("../fonts/ralewayextralight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/ralewayregular.woff2") format("woff2");
  src: url("../fonts/ralewayregular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

/*--------------------------------------------------общие стили--------------------------------------------------*/
* {
  /*outline: 1px solid red;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 14px;
  font-family: 'Raleway', 'Arial', sans-serif; }

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

select, button {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: none; }

ul, li {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  width: 1170px;
  margin: 0 auto; }

.bg-gray {
  background: #f5f5f5; }

.container-pd {
  padding: 120px 20px 100px; }

.title {
  color: #222222;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 60px;
  text-align: center;
  position: relative;
  /*for pseudo*/ }

.title::after {
  content: '';
  display: block;
  background: rgba(135, 135, 135, 0.5);
  width: 100px;
  height: 1px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.subtitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: #666666;
  width: 50%;
  margin: 0 auto;
  line-height: 30px;
  text-align: center; }

/*------------------------------------------------------header----------------------------------------------------*/
.header {
  background: url("../img/pattern.png") repeat, url("../img/cover.jpg") center center no-repeat;
  background-size: auto, cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  /*for button*/
  padding: 0 20px; }

.header-content {
  margin: 0 auto;
  text-align: center; }

.header-content__text {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
  color: #ffffff; }

.header-content__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff; }

.header__btn {
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.header__btn span {
  display: block;
  position: relative;
  /*for pseudo*/
  width: 100%;
  height: 100%; }

.header__btn span::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url("../img/icons/arrow-down-sign-to-navigate.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*-----------------------------------------------navigation------------------------------------------------*/
.navigation {
  background: #ffffff; }

.navigation__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navigation-block-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.navigation-block-menu__link {
  display: block;
  padding: 15px;
  font-size: 11px;
  letter-spacing: 3px;
  color: #222222;
  text-transform: uppercase;
  line-height: 20px; }

.navigation-block-menu__link.active,
.navigation-block-menu__link:hover {
  color: #E7746F;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }

/*-----------------------------------------------services------------------------------------------------*/
.services-block {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.services-block-item {
  width: 260px;
  height: 260px;
  background: #ffffff;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
  padding: 100px 20px 40px;
  margin: 0 30px 20px 0;
  position: relative;
  /*for pseudo*/ }

.services-block-item:last-child {
  margin-right: 0; }

.services-block-item::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  outline: 1px solid black;
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.services-block-item__title {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 15px; }

.services-block-item__text {
  color: #666666;
  line-height: 25px; }

/*-----------------------------------------------works------------------------------------------------*/
.works-block {
  margin-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.works-block-item {
  width: 360px;
  height: 225px;
  outline: 1px solid red;
  margin: 0 25px 25px 0; }

.works-block-item:nth-child(3),
.works-block-item:nth-child(6) {
  margin-right: 0; }
